@import '../../variables.scss';

#playing-field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    max-height: 600px;

    color: $color1;
    background-color: #222;
    padding: 8px;
    border-radius: 0.25rem;
    
    cursor: pointer;
    
    .next-round {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 5rem;

        .winning-round {
            font-size: 3rem;
        }
    }

    .board {
        width: 100%;
        height: 100%;
        padding: 25px;

        background-color: $bColor3;
        border-radius: 0.25rem;

        .virus-icon-area {
            position: relative;
            width: 100%;
            height: 100%;

            .virus-icon {
                position: absolute;
    
                width: 50px;
                height: auto;
    
                transform: translate(-50%, -50%);
            }
        }

        .waiting-for-opponent {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            
            p {
                margin-bottom: 1rem;
            }
        }
    }
}