@import '../../variables.scss';

#lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: $color1;
    background-color: $bColor2;
    width: 100%;
    height: 600px;

    border-radius: 0.25rem;

    .register {

        .username {
            width: 33%;
            margin: 0 auto;

            label {
                display: block;
                
                margin-bottom: 0.5rem;

                font-size: 1.25rem;
            }

            input {
                display: block;
                width: 100%;

                padding: 0.5rem;
                margin-bottom: 1rem;

                color: $color1;
                background-color: transparent;
                border: 1px solid $borderColor1;
                border-radius: 0.25rem;

                font-size: 1rem;
                
                &:focus {
                    outline: none;
                    border: 1px solid lighten($borderColor1, $amount: 30);
                }
            }

            .error {
                color: #F8B317;
            }
        }
    }
}